 /* Mengatur font default dan batas maksimal lebar konten */
body {
    font-family: 'Bricolage Grotesque', sans-serif;
    margin: 0 auto;
    background-color: #f4f4f9;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  height: 100vh; /* Menyesuaikan tinggi area */
  position: relative;
}

.image-container {
  position: relative;
  width: 661px; /* Perbesar lebar kontainer */
  height: 376px; /* Perbesar tinggi kontainer */
}

.main-logo {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%; /* Mengisi seluruh lebar kontainer */
  height: 100%; /* Mengisi seluruh tinggi kontainer */
}

.shadow{
  position: absolute;
  top: 15px;
  left: 5px;
  width: 100%; /* Mengisi seluruh lebar kontainer */
  height: 100%; /* Mengisi seluruh tinggi kontainer */
}

.marquee {
  overflow: hidden;
  width: 99.9%; /* Pastikan marquee sesuai lebar viewport */
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  padding: 10px 0;
  transform: rotate(-2deg);
  box-sizing: border-box; /* Pastikan padding termasuk dalam width */
  position: relative;
  box-sizing: border-box;
}

.marquee h1 {
  font-size: 2em;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: "Bricolage Grotesque", serif;
}

.stock-ticker{
  padding-block: 20px;
  border-block: 1px solid;
  overflow: hidden;
  user-select: none;
  background-color: #FF5733;
  transform: rotate(-2deg);

  --gap: 5px;
  display: flex;
  gap: var(--gap);
}

.stock-ticker ul{
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--gap);

  animation: scroll 20s linear infinite;
}

.stock-ticker:hover ul {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}



.shadow {
  z-index: 1; /* Bayangan di bawah gambar utama */
}

.main-logo {
  z-index: 2; /* Gambar utama di atas bayangan */
}

.title-artwork{
  transform: translateY(-80px); /* Geser elemen ke atas */
}

.artwork-container {
  position: relative;
  overflow: hidden; /* Sembunyikan artwork yang keluar dari container */
}

.artwork {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0; /* Default tersembunyi */
  transform: translateY(100px); /* Efek masuk */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.artwork.active {
  opacity: 1; /* Aktifkan artwork */
  transform: translateY(0); /* Kembali ke posisi normal */
}



.cursor-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; /* Prevent cursor from blocking interactions */
  transform: translate(-50%, -50%);
  z-index: 1000; /* Ensure it's above other elements */
  transition: transform 0.1s ease-out;
}

.curved-text {
  width: 150px; /* Adjust size if necessary */
  height: 150px;
}

@keyframes rotateInfinite {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.curved-text svg {
  animation: rotateInfinite 10s linear infinite; /* 10s adalah durasi animasi */
}




.hero-section {
    height: calc(100vh - 80px);
}

.bricolage-grotesque{
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
      "wdth" 100;
}

.bricolage-extra-bold {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 800; /* Extra Bold */
    font-size: 100px;
    line-height: 0.9; /* 90% */
    letter-spacing: -0.04em; /* -4% */
    color: #ffffff;
  }

.syne {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Dropdown Styling */
.custom-dropdown {
    background-image: url('assets/arrow-down-green.svg'); /* Custom icon for dropdown */
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 20px;
    padding-right: 2.5rem; /* Adjust padding to fit icon */
    -webkit-appearance: none; /* Remove default dropdown arrow */
    -moz-appearance: none;
    appearance: none;
}
.custom-dropdown.selected {
    color: var(--color-coal); /* Change text color to black when an option is selected */
}

/* Date Picker Styling */
.custom-date {
    background-image: url('assets/arrow.svg'); /* Custom icon for date picker */
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 20px;
    padding-right: 2.5rem; /* Adjust padding to fit icon */
    -webkit-appearance: none; /* Remove default icon in Webkit browsers */
    -moz-appearance: none; /* Remove default icon in Firefox */
    appearance: none;
}

.custom-date.selected {
    color: var(--color-coal); /* Change text color to black when a date is selected */
}

/* Hide default calendar icon in Webkit browsers */
.custom-date::-webkit-calendar-picker-indicator {
    opacity: 0; /* Hides the default calendar icon */
}

/* Ensure custom icon doesn’t block clicks */
.custom-date::after {
    content: '';
    pointer-events: none; /* Prevents the icon from blocking clicks */
}


/* General Styling for Form Inputs, Dropdown, and Date Picker */
form input[type="text"],
form input[type="email"],
form input[type="date"],
form select,
form textarea {
    background-color: #000;
    border: 1px solid #DAF7A6; 
    border-radius: 0; /* No border radius */
    outline: none; /* Remove default outline */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
    width: 100%; /* Full width for consistency */
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: rgba(218, 247, 166, 0.5); /* Opacity hanya untuk teks */
}

/* Change Border Color on Focus for Input, Dropdown, and Date Picker */
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="date"]:focus,
form select:focus,
form textarea:focus {
    background-color: #DAF7A6;
    color: #000; /* Text color */
}

form input[type="text"]::placeholder,
form input[type="email"]::placeholder,
form input[type="date"]::placeholder,
form select::placeholder,
form textarea::placeholder {
    color: #DAF7A6; /* Warna untuk placeholder */
    opacity: 0.5; /* Atur opacity jika ingin placeholder terlihat lebih redup */
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Change placeholder color on focus */
form input[type="text"]:focus::placeholder,
form input[type="email"]:focus::placeholder,
form input[type="date"]:focus::placeholder,
form select:focus::placeholder,
form textarea:focus::placeholder {
    color: #DAF7A6; /* Warna untuk placeholder */
    opacity: 0.5; /* Atur opacity jika ingin placeholder terlihat lebih redup */
}

/* Tooltip Styling */
.tooltip {
  position: absolute;
  bottom: 120%; /* Posisikan di atas icon */
  left: 50%;
  transform: translateX(-50%) translateY(30px);
  background-color: #000;
  color: #fff;
  padding: 0px 10px;
  font-size: 0.75rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 10;
  pointer-events: none; /* Agar tidak mengganggu klik */
}

/* Tooltip Arrow */
.tooltip::after {
  content: '';
  position: absolute;
  top: 100%; /* Posisikan di bawah tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

/* Show Tooltip on Hover */
.group:hover .tooltip {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
  visibility: visible;
}
